<div  class="template">
  <h2>{{ct4.templateTitle}}</h2>
  <p>Current Product Id: {{ct4.currentId}}</p>
  <p>{{ct4.message}} </p> 

  <h3>Show using 'fetchJson()'</h3>
  <p>
  <strong>Name:</strong>
  {{ct4.show.name}}
  </p>

  <p>
  <strong>Description:</strong>
  {{ct4.show.description}}
  </p>

  <p>
  <strong>Category:</strong>
  {{ct4.show.category}}
  </p>

  <p>
  <strong>Price:</strong>
  {{ct4.show.price}} 
  </p>

  <h3>Show using $Resource (Product.get())</h3>
  <p>
  <strong>Name:</strong>
  {{ct4.showalt.name}}
  </p>

  <p>
  <strong>Description:</strong>
  {{ct4.showalt.description}}
  </p>

  <p>
  <strong>Category:</strong>
  {{ct4.showalt.category}}
  </p>

  <p>
  <strong>Price:</strong>
  {{ct4.showalt.price}} 
  </p>

</div> 
